/*-------------------------------------

Universial Styling

-------------------------------------*/


* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background-color: black;
  padding: 20px 20px 0px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

footer {
  background-color: #a90000;
  padding: 20px 0px 20px 0px;
  bottom: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  color: white;
  margin: 50px 0 0 0;
}

h1 {
  font-size: 40px;
}

.header-container {
  max-width: 600px;
  padding: 0px 20px 0px 40px;
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.footer-container nav ul {
  list-style-type: none;
  padding: 25px 0;
}

.footer-container nav ul li {
  display: inline-block;
}

.footer-container nav ul li a {
  text-decoration: none;
  color: #a90000;
  padding: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  transition: .5s;
}

.footer-container nav ul li a:hover {
  text-decoration: none;
  color: #a90000;
  padding: 15px;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
  transition: .5s;
}

.main-container {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'PT Sans Narrow', sans-serif;
  color: black;
  padding: 125px 20px 0 20px;
}

main h1, 
h2,
p {
  padding: 10px 0;
}

.black-highlight {
  background-color: black;
  color: white;
  padding: 1px;
}


/*-------------------------------------

Button Styling

-------------------------------------*/

.button-primary {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  font-weight: bold;
}

.button-primary:hover {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #a90000;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  font-weight: bold;
}


/*-------------------------------------

Two- Column Layout

-------------------------------------*/

.text-image-container {
  position:relative;
}

.text-container {
  position:absolute;
  bottom: 0;
  background-color: black;
  text-align: center;
  padding: 0 5px;
  width: 96.6%;
  color: white;
}

.right-column p:first-of-type {
  padding: 0;
}

.left-column {
  float: left;
  padding: 0 10px 0 0;
}


/*-------------------------------------

Animations

-------------------------------------*/

  @keyframes fall {
    0% {
        top: 115px;

    }

    100% {
        top: 1200px;

    }
  }
  
  @keyframes hvr-hang {
    0% {
      transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      transform: translateY(8px);
      transform: translateY(8px);
      width: 11px;
    }
  }
  @keyframes hvr-hang {
    0% {
      transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      transform: translateY(8px);
      transform: translateY(8px);
      width: 11px;
    }
  }
  
  @keyframes hvr-hang-sink {
    100% {
      transform: translateY(8px);
      transform: translateY(8px);
      width: 10px;
    }
  }
  @keyframes hvr-hang-sink {
    100% {
      transform: translateY(8px);
      transform: translateY(8px);
      width: 10px;
    }
  }
 
  .hvr-hang {
    position: fixed;
    top: 110px;
    left: 152px;
    transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    animation-duration: .5s, 2.5s;
    animation-duration: .5s, 2.5s;
    animation-delay: 0s, 2s;
    animation-delay: 0s, 2s;
    animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
  
  
  .fall {
      position: fixed;
      top: 115px;
      left: 152px;
      animation: fall 7s 6s ease-in infinite;
  }

  .fall-slow {
    position: fixed;
    top: 115px;
    left: 152px;
    animation: fall 8s 10s ease-in infinite;
}